.main {
    display: flex;
    flex-wrap: wrap;

}

.whybody {
    display: flex;
    flex-direction: column;
    width: 30vw;
    transform: translate(9.5vw, 0);
    background-color: #F3F9FB;
    padding: 4vh;
    border-radius: 20px;

}

.whybody>:nth-child(2) {
    transform: translate(20px, 0);
}

.whyvideo {
    transform: translate(8vw, 2vh);
    width: 50vw;
    height: 50vh;
}

.whyvideo video {
    width: 100%;
    border-radius: 20px;
    transform: translate(-1%, 12%);
}



@media (max-width:520px) {
    .whybody {

        width: 100vw;
        transform: translate(0);
    }

    .whyvideo {
        width: 100%;
        transform: translate(0);
        padding: 0.3rem;
    }

    .whyvideo video {

        transform: translate(0%, 12%);
        border-radius: 10px;

    }
}