.beforeload {
    height: 60vh;
}

.loader_content {
    position: relative;

    top: 5vh;
}

.product_wrap {
    transition: 0.15s;
    cursor: pointer;
    border-radius: 20px;
}

.product_wrap:hover {
    scale: 1.05;
}

.product_wrap:active {
    scale: 0.99;
}

.shop_hero {
    background: url('https://images.pexels.com/photos/1452701/pexels-photo-1452701.jpeg');
    min-height: 41vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -80px;
    position: relative;
    z-index: 10;
}

.shop_hero h1 {
    color: white;
    z-index: 10;
}

.card {
    padding: 1.9rem 1rem;
    background: white;
    border-radius: 8px;
}

.card-img {
    border-radius: 8px;
    box-shadow: 0 0 10px #b6e6ff;
}

.card-body {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-weight: 600;
    margin-bottom: 1rem;
}

.card-subtitle {
    display: inherit;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1rem;
}

.old-price {
    font-size: .8em;
}

.new-price {
    padding: 0.5rem 1rem;
    background: #00528c;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.btn-cnt {
    display: flex;
    justify-content: flex-end;
}

.btn-cnt .buy-btn {
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
    background: #00528c;
    color: white;
    border-radius: 5px;
}

/* DropdownMenu.module.css */

.dropdown {
    margin: 10px;
    width: 13rem;
    transform: translate(10vw, 1vh);
}

/* Style for the select element */
.select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #50bcff;
    cursor: pointer;
}

/* Style for the options within the select element */
.option {
    background-color: #fff;
    color: #22b2f9;
}