
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --font-poppins:"Poppins", sans-serif;
}
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cuz-slider-cnt{
    width: 100%;
    height: 100%;
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(45deg, #00000057, transparent);
  }
  .cuz-slider-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 430px;
    padding: 0 0 0 0rem;
    margin-left: 5rem;
    gap: 1.5rem;
    font-family: var(--font-poppins);

  }
  .cuz-slider-wrapper :where(h1,h2){
    color: white;
    text-align: left;
    line-height: 1;
    font-weight: 800;
  }
  .cuz-slider-wrapper p{
    color: white;
    font-size: 1em;
    font-weight: 200;
    margin: 0 0 0.5rem 0;
    text-align: left;
  }

  .swiper-button-prev:after, .swiper-button-next:after{
    color: white!important;
  }
  .cuz-hero-shop-btn{
    background: #023653;
    border: 1px solid transparent;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1.5rem;
    color: white;
    transition: all 0.2s ease-out;
  }
  .cuz-hero-shop-btn:hover{
    background-color: transparent;
    color: white;
    border-color: white;
    transition: all 0.2s ease-in;
  
  }
  @media(max-width:520px){
    .cuz-slider-wrapper :where(h1,h2){
      font-size: 1.5em;
    }
    .cuz-slider-wrapper p{
      font-size: .8em;
    }
  }